extends layouts/main.pug 

block content
    h1 Se Connecter
    if message
        p #{message}
    form(role='form' method='POST' action='/login')
        div(class="mb-3")
            label(for='email' class="form-label") Email :
            input(class="form-control" type='email', placeholder='Email' name='email')
        div(class="mb-3")
            label(for='password' class="form-label") Mot de passe :
            input(class="form-control" type='password', placeholder='Mot de passe' name='password')
        button(class="btn btn-primary" type="submit") Se connecter

    div
        p Pas de compte ? 
            a(href="/register") Créer son compte