extends layouts/main.pug 

block content
    h1 S'inscrire
    if message
        p #{message}
    form(role='form' method='POST' action='/register')
        div(class="mb-3")
            label(for='firstname' class="form-label") Prénom :
            input(class="form-control" type='text', placeholder='Prénom' name='firstname')
        div(class="mb-3")
            label(for='lastname' class="form-label") Nom :
            input(class="form-control" type='text', placeholder='Nom' name='lastname')
        div(class="mb-3")
            label(for='email' class="form-label") Email :
            input(class="form-control" type='email', placeholder='Email' name='email')
        div(class="mb-3")
            label(for='password' class="form-label") Mot de passe :
            input(class="form-control" type='password', placeholder='Mot de passe' name='password')
        div(class="mb-3")
            label(for='password' class="form-label") Confirmez votre mot de passe :
            input(class="form-control" type='password', placeholder='Mot de passe' name='passwordCheck')
        button(class="btn btn-primary" type="submit") S'inscrire

    div
        p Vous avez déjà un compte ? 
            a(href="/register") Se connecter